#home{
    background-image: url("../../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;



    section{
        background-color: rgba(0,0,0,0.7);
        border-radius: 5px;
        padding-left: $md;
        padding-right: $md;
        height: 80%;
        width: 35%;
    }

    .cube{
        
        font-size: 8rem;
        color:$orange;
    }

    h1{
        font-size: $lg;
        text-align: center;
        font-weight: 400;
        color: $white;
    }
    .play-button-container{
        width: 100%;

    }

    a.play-button{
        background-color: $green;
        color: #fff;
        display: block;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        padding: 1rem;
        transition: .3s linear all;
    }
    a.play-button:hover{
        background-color: darken($green, 10%);
        box-shadow: $shadow;
    }

    .auth-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: $lg;
    }

    #login-button{
        background-color: red;
    }
    #login-button:hover{
        background-color: darken(red,10%);
    }
    #sign-button{
        background-color: $green;
    }
    #sign-button:hover{
        background-color: darken($green,10%);
    }
    .auth-container .auth-buttons{
        color: #fff;
        cursor: pointer;
        border-radius: 30px;
        padding: 1rem 0rem;
        text-align: center;
        width: 45%;
        transition: .3s linear all;
    }
}

@media(max-width:768px){
    #home section{
        padding: 0 2rem;
        width:100%;
        height: 100%;
    }
}